.moves-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    gap: 1rem;

    padding-bottom: 1rem;

}



.movepair-container {

    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    padding: .2rem .5rem;
    border-radius: 3px;

    button.move-btn, span {
        background-color: transparent;
        border: none;
        color: white;
        font-size: 1rem;
    }

}

.movepair-shadow {
    background-color: gray;
}