.toolbar-wrapper {
    width: 360px;
    height: 100vh;
    min-height: 500px;

    width: 20%;
    max-width: 780px;
    min-width: 320px;
    flex: 1 1 0;
    margin-right: 20px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 40px 0;

}

.toolbar-container {
    background-color: var(--eigen);
    min-height: 100%;
    height: 100%;
    width: 100%;
    border-radius: 5px;

    position:relative;

    display: flex;
    flex-direction: column;
    box-shadow: var(--defaultShadow);
}



.toolbar-body {
    padding: 15px;
    margin-bottom: var(--toolbarFootHeight);
    background-color: var(--eigen);
    /*min-height: 200px;*/
    flex-grow: 1;
    overflow-y: auto;
    height: auto;
    position: relative;
}

.toolbar-body::-webkit-scrollbar {
  width: 8px;
}

.toolbar-body::-webkit-scrollbar-track {
  background: var(--eigen);
}


.toolbar-body-folder-highlight {
    /*background-color: #37323E;*/
    background-color: grey;
    -webkit-box-shadow: inset 0px 0px 30px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: inset 0px 0px 30px 1px rgba(0,0,0,0.7);
    box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.7);
}


.toolbar-body {
  scrollbar-width: thin;
  scrollbar-color: grey var(--eigen);
}
