.toolbar-wrapper {
    width: 360px;
    height: 100vh;
    min-height: 500px;
    max-height: 100vh;

    width: 20%;
    max-width: 780px;
    min-width: 320px;
    flex: 1 1 0;
    margin-right: 20px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 40px 0;

}

.toolbar-container {
    background-color: var(--eigen);
    min-height: 100%;
    height: 100%;
    width: 100%;
    border-radius: 5px;

    position:relative;

    display: flex;
    flex-direction: column;
    box-shadow: var(--defaultShadow);
    flex-grow: 1;
}



.toolbar-body {
    padding: 15px;
    margin-bottom: var(--toolbarFootHeight);
    /*min-height: 200px;*/
    flex-grow: 1;
    overflow-y: scroll;
    height: auto;
    position: relative;
}

.toolbar-body-folder-highlight {
    /*background-color: #37323E;*/
    background-color: var(--mediumGrey);
    -webkit-box-shadow: inset 0px 0px 30px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: inset 0px 0px 30px 1px rgba(0,0,0,0.7);
    box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.7);
}