.possible-move-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
    border-radius: 3px;
    margin-bottom: 3px;
    border: 1px solid transparent;

    &:hover {
        border: 1px solid var(--darkGreen);
        box-shadow: var(--defaultShadow);
    }
}

.possible-move {
    width: 5rem;
}

.move-breakdown {
    display: inline-flex;
    list-style: none;
    align-items: center;

    flex: 1;
    height: 1rem;
    font-size: 1rem;
    padding: 0;

    li {
        padding: .2rem;

        font-size: .9rem;
    }


    .move-breakdown-white {
        margin-right: auto;
        background-color: rgb(224, 224, 224);
        color: black;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        text-align: left;
    }

    .move-breakdown-draws {
        background-color: var(--lightGrey);
        flex-grow: 1;
        text-align: center;
    }

    .move-breakdown-black {
        margin-left: auto;
        background-color: rgb(41, 41, 51);
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        text-align: right;

    }
}