.game-wrapper {
    max-width: 100vh;
    min-width: 440px;
    padding: 40px;
    flex: 2 1 1;

    height: 100vh;


    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.gamegui-container {
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 20px;
}

.eval-bar-container {
    height: 100%;
    
    width: 100%;
    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    border-radius: 6px;
    color:  var(--lightGreen);
    font-size: 12px;

    position: relative;
}

.eval-bar-container p {
    position: relative;
    z-index: 2;
    font-weight: bold;

}


.eval-bar {
    position: absolute;
    background-color: white;
    bottom: 0;
    width: 100%;
    max-height: 100%;


    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    
    transition: .5s ease-in-out;
}

.board-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    height: auto;
    width: auto;

    max-width: 100%;
    box-shadow: var(--defaultShadow);
    border-radius: 6px;

}

#BasicBoard {
    height: auto;
    width: auto;
    border-radius: 6px;
}

.flash-green > * {
    outline: 5px solid var(--lightGreen);
}

.flash-red > * {
    outline: 5px solid var(--red);
}

.checkmark-icon {
    height: 2rem;
    width: 2rem;
    color: var(--lightGreen);
}
