

.game-wrapper { 
    min-width: 300px;
    min-width: 0;

    height: auto;
}

.game-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    gap: 10px;

    min-height: none;
    width: 100%;
}


.board-container {
    box-shadow: var(--defaultShadow);
    min-width: 0;

    aspect-ratio: 1/1;

    align-self: flex-start;

    flex: 1 1 auto;
    aspect-ratio: 1;
    max-width: calc(100vh - 104px);




}

#BasicBoard {

}

.eval-bar-container {
    background-color: black;
    min-height: 100%;
    width: 24px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    border-radius: 3px;
    color:  var(--lightGreen);
    font-size: 12px;

    position: relative;
}


.eval-bar-container p {
    position: relative;
    z-index: 2;
    font-weight: bold;

}


.eval-bar {
    position: absolute;
    background-color: white;
    bottom: 0;
    width: 100%;
    max-height: 100%;
    height: 100%;


    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    
    transition: .5s ease-in-out;
}

.flash-green > * {
    outline: 5px solid var(--lightGreen);
}

.flash-red > * {
    outline: 5px solid var(--red);
}

.checkmark-icon {
    height: 2rem;
    width: 2rem;
    color: var(--lightGreen);
}



@media (max-width: 768px) {
    div.eval-bar-container {
        height: 20px;
        width: 100%;
        background-color: black;

        display: flex;
        align-items: center;
        justify-content: center;

        text-align: center;
        border-radius: 0;
        color: var(--lightGreen);
        font-size: 12px;
        border-radius: 3px;

        position: relative;
        overflow: hidden;

        div.eval-bar {
            position: absolute;
            background-color: white;

            left: 0;
            top: 0;

            min-height: 100%;
            max-height: 100%;
            width: 50%;


            border-radius: 0;

            transition: .5s ease-in-out;
        }
    }

    div.game-wrapper {
        height: auto;
        width: 100%;
        align-self: center;
        max-width: none !important;
        padding:1rem;
        padding-bottom: 0;
    }

    div.board-container {
        max-width: none;
    }

    div.game-container {
        width: 100%;;

        flex-direction: column;
    }
}

@media (max-width: 425px) {


    div.game-container {
        margin-top: 1rem;
        width: 100vw;

    }
    div.board-container {
        width: 100%;
        border-radius: 0;
        max-width: none;

    }

    div.game-wrapper {
        padding: 0;
        width: 100%;
    }
    div.eval-bar-container, .eval-bar {
        width: calc(100% - 1rem);

    }
    div.eval-bar-container {
        border-radius: 3px;
    }
    div.eval-bar-container {
        margin-left: .5rem;
    }

}