/* main toolbar styles */

.toolbar-header {
    display: flex;
    flex-direction: column;
}

.toolbar-title {
    border-bottom: var(--border);
    padding-left: 0;
    padding: 10px 5px 5px 10px;
    font-size: 1.5rem;
    background-color: var(--darkGrey);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.toolbar-description {
    height: var(--toolbarTitleHeight);
    width: 100%;
    font-size: 14px;
    font-weight: bolder;

    padding: 10px;

    border-top:  var(--border);
    border-bottom: var(--border);
    

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    position: relative;
}

.toolbar-description > button {
    padding: .5rem;
    width: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--green);
    background-color: transparent;
    border: none;
    transition: 1 all ease-in-out;
}

.toolbar-description > .add-opening-btn:hover {
    transform: scale(1.1);
    color: var(--lightGreen);
}

.is-added-btn {
    position: relative;
}

/* search styles */

.search-container {
    width: 100%;
    height: var(--toolbarTopHeaderHeight);

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    padding: 15px 10px;

}

.search-container > input {
    margin-right: 10px;
    flex-grow: 1;
    border-radius: 5px;
    min-width: 200px;
}

input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }



.search-btns {
    background-color: var(--darkGreen);
    border-radius: 5px;
    box-shadow: var(--defaultShadow);
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 100px;
}

.search-btns > button,
.search-select > select {
    background-color: transparent;
    border: none;
    padding: .5rem;
    font-size: 1rem;
    color: white;
    font-weight: bolder;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-container button {
    padding: .5rem .8rem;
    border-left: 1px solid var(--green);
    flex-grow: 1;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
} 

.search-select {
    height: 100%;
    width: auto;

    position: relative;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    padding: 0;
    margin-right: 0;
}

.search-select select {
    padding: 8px;
    padding-right: 27px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-select svg {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);

    font-size: 12px;
    color: white;
}

.search-select select:focus {
    outline: none;

}

.search-container button:hover,
.search-container select:hover {
    background-color: var(--hoverHighlightGreen);
    color: white;
}

.back-to-view-moves {
    background-color: transparent;
    border: none;
}
.back-to-view-moves:focus {
    outline: none;
}

.back-to-view-moves > svg {
    font-size: 20px;
    color: white;
}

.back-to-view-moves > svg:hover {
    color:gray;
}



.empty-query-message {
    text-align: center;
    line-height: 2rem;
    font-size: 1.3rem;
    height: auto;
    width: 60%;
    margin: auto;
}


/* testing options styles*/

.selectcolor-container {
    width: 100%;
    height: var(--toolbarTopHeaderHeight);
    min-height: var(--toolbarTopHeaderHeight);
    padding: 10px 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.selectcolor-container .begin-test {
    background-color: var(--green);
    margin: 0;
    margin-right: auto;

}

.selectcolor-container > * {
    margin: 0 5px;
}

.selectcolor-container > div:first-child {
    margin-left: 15px;
}

.selectcolor-container > div:last-child,
.selectcolor-container > button:last-child {
    margin-right: 15px;
}

.selectcolor-container select,
.selectcolor-container button,
.freestyle-container button {
    border: var(--border);
    background-color: var(--darkGrey);
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: bolder;
    padding: 10px 6px;
}

.select-element {
    margin-right: 8px;
    height: 100%;
    width: auto;

    position: relative;

    display: flex;
    flex-direction: row;
}

.select-element > select {
    height: 100%;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    color: white;
    padding: 6px;
    padding-right: 28px;
    font-size: 14px;
    font-weight: 500;

    border: var(--border);
    border-radius: 5px;
    background-color: var(--darkGrey);
    color: white;

    border-radius: 5px;
}


/* down arrow for select element */
.select-element > svg {
    font-size: 12px;
    position: absolute;
    right: 6px;
    top: 50%;

    transform: translateY(-50%);
}

.selectcolor-container button:hover,
.selectcolor-container select:hover {
    background-color: var(--hoverHighlightDarkGrey);
}

.selectcolor-container select:focus {
    outline: none;
}

.selectcolor-container button.begin-test:hover {
    color: white;
    border: 1px solid var(--green);
    background-color: var(--hoverHighlightGreen);
    
}

/* testing styles */

.score-container {
    width: auto;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.score-container label:first-child {
    margin-right: 25px;
}

.score-container label,
.selectcolor-element label {
    font-size: 14px;
    font-weight: bolder;
}

.selectcolor-element svg {
    font-size: 12px;
}



.timer-container {
    font-weight: bolder;
    font-size: 20px;
}

button.exit-test {
    background-color: var(--red);
    border: 1px solid var(--lightRed);
}
  
button.exit-test.red-btn:hover {
background-color: rgba(255,0,0,.3);
border: 1px solid var(--red);
}

.skip-btn {
    margin-left: auto;
}





/* sign in message styles */
.small-modal-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 150;
    height: 100%;
    width: 100%;
  }
  
  .small-modal-container {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 10px;
  
    width: 100%;
    height: 100%;
    background-color: black;
  
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .small-modal-message {
    font-size: 14px;
    flex-grow: 1;
  }
  
  .small-modal-buttons {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
  }
  
  .small-modal-buttons > button {
    padding: 5px;
    font-size: 14px;
    border-radius: 3px;
    width: auto;
    
    display: flex;
    flex-direction: center;
    align-items: center;
    color: white;
  }
  .small-modal-sign-in {
    margin-right: 6px;
  }
  .small-modal-buttons > .small-modal-cancel {
    border: var(--border);
    background-color: var(--eigen);
  }
  
  .small-modal-buttons > button:hover {
    opacity: .8;;
  }

