

.navbar-wrapper {
    color: white;
    box-shadow: var(--defaultShadow);
    background-color: var(--eigen);


    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 2rem;
}

.horizontal-nav {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;

}

.navbar-wrapper h2 {
    width: auto;
    white-space: nowrap;
}

nav > button {
    height: 100%;
    font-size: 1rem;
    font-weight: bolder;
    text-align: left;

    background-color: transparent;
    border: none;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

nav svg {
    margin-right: 10px;
}

nav > button:hover {
    color: var(--lightGreen);
}

nav > button:focus {
    outline: none;
}

.selected-tab {
    color: var(--green);
}


.navbar-icon {
    height: auto;
    width: auto;

    display: none;
    display: relative;
    z-index: 160;

}

.navbar-icon > a:hover {
    color: grey;
}

.mobilenav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150;
    
    height: 100%;
    width: 100%;
    color: white;
    background-color: rgba(0,0,0,.5);
    backdrop-filter: blur(5px);
    transition: filter 3s ease;

    .navbar-exit {
        background-color: transparent;
        border: none;
        border-radius: 5px;
        color: white;
        height: 40px;
        width: 40px;
        font-size: 25px;

        display: flex;
        justify-content: center;
        align-items: center;
        margin: .1rem;
        
        position: absolute;
        right: 10px;
        top: 10px;

        & svg:hover {
            color: grey;
        }


    }

    .mobilenav-container {
        height: 100%;
        width: calc(var(--navbarWidth) + 3rem);
        background-color: var(--darkGrey) !important;
        padding-bottom: 100px;
        z-index: 300;
        position: relative;

        animation: slideIn .2s ease-in-out;
        animation-name: mobilenav-animation;

        h2 {
            padding: 1rem;
            padding-right: 50px;
        }
        nav button {
            margin: 1rem 1rem;
        }
    }
}


@keyframes mobilenav-animation {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}


.navbar-icon > a {
    background-color: var(--eigen);
    border: none;
    border-radius: 5px;
    color: white;
    height: 40px;
    width: 40px;
    font-size: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
  div.navbar-icon {
    display: inline-flex;
    margin-left: auto;
  }
  div.navbar-wrapper {
      padding-right: 2rem;
  }
  div.navbar-wrapper nav {
    display: none;

  }
}

