.toolbar-body-top-header > button.edit-folder-btn,
.toolbar-body-top-header > button.cancel-edit-flashcards-btn {
    margin-left: auto;
}

.toolbar-body-header {
    height: auto;
    width: 100%;  

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.toolbar-body-header button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.toolbar-body-header svg {
    font-size: 14px;
}

.toolbar-body-top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 45px;
    max-height: 45px;
    margin-bottom: 10px;
    padding-bottom: 10px;

}


.toolbar-body-header .flashcards-folders-back-btn,
.toolbar-body-header button.edit-folder-btn,
button.cancel-edit-flashcards-btn {
    border: var(--border);
    background-color: var(--darkGrey);
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: bolder;
    padding: 5px;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolbar-body-header button.edit-folder-btn:hover,
.toolbar-body-top-header > button.cancel-edit-flashcards-btn:hover {
    background-color: var(--hoverHighlightDarkGrey);
}

.toolbar-body-bottom-header {
    width: 100%; 
    height: 40px;
    margin-bottom: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.toolbar-body-header h3 {
    font-size: 1.5rem;
}


.toolbar-body-header .cancel-edit-folder-btn,
.toolbar-body-header .delete-folder-btn {
    border: var(--border);
    background-color: var(--darkGrey);
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: bolder;
    padding: .5rem;
}



div.toolbar-body-top-header button.delete-folder-btn {
    background-color: var(--red);
    border: 1px solid var(--lightRed);
}

div.toolbar-body-top-header button.delete-folder-btn:hover {
    background-color: rgba(255,0,0,.3);
    border: 1px solid var(--red);
}

.flashcards-folders-btn > svg {
    font-weight: bolder;
}


.folders-flashcards-button-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;

    border-radius: 5px;

    border: var(--border);
}


.folders-flashcards-button-container > button:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.folders-flashcards-button-container > button:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.flashcards-folders-btn-selected {
    border: none;

    flex-grow: 1;
    background-color: var(--darkGrey);

    color: white;
    font-size: 14px;
    font-weight: bolder;
    padding: .5rem;
}
div > button.border-right {
    border-right: var(--border);
}

.flashcards-folders-btn {
    background-color: var(--eigen);
    border: none;

    flex-grow: 1;
    color: #303030;
    font-size: 14px;
    font-weight: bolder;
    padding: .5rem;
}

.flashcards-folders-btn:hover {
    color: #505050;
}

.flashcards-folders-btn:hover,
.cancel-edit-folder-btn:hover,
.buttons-container > button:hover {
    background-color: var(--hoverHighlightDarkGrey);
}

.body-header-highscore-container {
    height: auto;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.body-header-highscore-container > .highscore {
    /*border-right: var(--border);*/
    font-size: 12px;
    flex-grow: 1;
    text-align: left;
}
.body-header-highscore-container > .highscore:last-child {
    border-right: none;
}

.body-header-highscore-container > .highscore-flashcards {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.body-header-highscore-container  .tooltip-container {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.body-header-highscore-container  .tooltip-container:hover  .tooltip {
    right: auto;
    left: 80%;
}
